#root{
  /* max-width: 1280px; */
  padding-left: 20px;
}

/* main navbar */
.navbar1 {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 25%;
  height: 60px;


  display: flex;

  background: #fff;
  border-top: 1px solid #ddd;
  z-index: 1000;

 justify-content: space-evenly;
}

/* homepage  */

.homeposition{
   
   justify-content:flex-start;
}

/* maininput box  */
.input-cb{
border: 2px solid red;
height: 100px;
width: 300px;
margin-top: 20px;
padding-top: 10px;
padding-left: 0px;


}


.container1{
    display: flex;
    gap: 10px;   /* boxes ke bich gap */
    margin-top: 30px;
       justify-content:flex-start;
       
  

  }

.box{
    width: 140px;
    height: 100px;
    border: 2px solid black;
    justify-content:flex-start;
}

.d-grid{

  margin-top: 18px;
}

.amountbox{

border: 2px solid red ;
height: 50px;
width: 110px;
margin-left: 7px;
margin-top: 5px;
}

.transictions{
border: 2px solid black;
height: 50px;
width: 300px;
margin-top: 27px;
}

.twobtn{
  gap:3px;
  margin-left: 5px;
  margin-top: 5px;
}

.liningbox{

border: 2px solid red ;
height : 140px;
width: 300px;
margin-top: 20px;
margin-left: 0px;
padding-left: 15px;

}

.liningbox2{

margin-top: 15px;
/* display: flex; */

}

